.mission-image-container{
    background: #eee;
    width:100%;
    text-align: center;
    height: 256px;
}

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  .mission-image-container.image-loading{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-image: linear-gradient(to right, #eee 20%, #e1e1e1 40%, #eee 60%, #eee 100%);
    background-repeat: no-repeat;
    background-size: 800px 100%;
  }
.mission-image-container img{
    width:100%;
    max-width: 256px;
    height: 256px;
}
.mission-title{
    padding: 12px 0px;
    color:#4a4d99;
}
.mission-value{
    color:#4a4d99;
}
.mission-id-list{
    margin: 5px 0;
}